@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap');

.controllerBox {
    max-width: 500px;
    border: 1px solid gray;
    margin: 50px auto;
    border-radius: 10px;

    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}