@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

.controllerBox {
    max-width: max-content;
    /* border: 1px solid rgb(197, 197, 197); */
    margin: 50px auto;
    border-radius: 10px;

    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}

.switch {
    border: 1px solid rgb(197, 197, 197);
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}

.switch label {
    margin-right: 75px;
}

.switch.relayControl {
    box-sizing: border-box;
    width: 100%;
}

.timerControlArea {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(197, 197, 197);
    box-sizing: border-box;
}

input {
    width: 50px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid rgb(197, 197, 197);
    font-family: 'Montserrat', sans-serif;

    text-align: center;
}

.timerSelectorForm {
    display: flex;
    align-items: center;
    width: min-content;
}

.timerSelectorForm label {
    margin-right: 5px;
}

.timerArea {
    border: 1px solid rgb(197, 197, 197);
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 10px;
}

.timerArea label {
    font-size: 14px;
}

.buttonBox {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.updateButton {
    margin-top: 10px;

    padding-left: 15px;
    padding-right: 15px;
    border: none;
    background-color: cadetblue;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 16px;
    border-radius: 10px;
    height: 35px;
    width: 100%;

    cursor: pointer;
    transition: 200ms;
}

.updateButton:hover {
    background-color: rgb(66, 116, 117);
}